<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>






<!-- Question Box -->

<h1>Ask Me</h1>
<p>usually answered in minutes!</p>

<%= form_for :article, url: articles_path do |f| %>
  <div class="field">
    <%= f.text_area :text, placeholder: "What's up?" %>
  </div>

  <div class= "actions" %>
    <%= f.submit "submit" %>
  </div>
<% end %>

