@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";


@font-face {
  font-family: Lato-Bold;
  src: url('/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: Lato-Regular;
  src: url('/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato-Light;
  src: url('/fonts/Lato-Light.ttf');
}
@font-face {
  font-family: Lato-thin;
  src: url('/fonts/Lato-thin.ttf');
}


html, body {
  font-family: Lato-Regular;
  background-color: #f9f9f9;
  padding-top: 50px;
}

.navbar-default {
  height: 50px;
  background-color: white;
  //padding-top: 50px;
}

.brand-image img {
  height: 40px;
  padding-top: 7px;
}

.navbar-text {
  font-family: Lato-Bold, sans-serif;
  font-size: 13px;
  color: #777;


}