@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";
@import "questions";
@import "sessions";

@font-face {
  font-family: Lato-Bold;
  src: url('/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: Lato-Regular;
  src: url('/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato-Light;
  src: url('/fonts/Lato-Light.ttf');
}
@font-face {
  font-family: Lato-thin;
  src: url('/fonts/Lato-thin.ttf');
}

html, body {
  font-family: Lato-Regular;
  background-color: #f9f9f9;
  padding-top: 50px;
}

/* BRAND LOGO */
.brand-image img {
  height: 40px;
  padding-top: 7px;
}

/* NAV BAR */
.navbar-default {
  height: 50px;
  background-color: white;
}

.askme-navbar-text {
  font-size: 15px;
  color: #777;
}

a {
  text-decoration: none;
}

/* NOTICE AND ALERT */
.notice-message {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: Lato-Bold;
}

.alert-message {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: Lato-Bold;
}