.ask-me {
  font-family: Lato-Bold, sans-serif;
  font-size: 30px;
  color: #333;
  text-transform: uppercase;
}

.field {
  font-family: Lato-Regular, sans-serif;
  font-size: 13px;
  color: #777;
}

.tagline {
  font-family: Lato-Regular, sans-serif;
  color: #ccc;
  font-size: 16px;
}

hr {
  margin-bottom: 40px;
  border-width: 3px 0px 0px;
  margin-top: 40px;
}


.form-control:focus {
  border-color: #ccc;
  box-shadow: none;
}

.form-control{
  font-size: 15px;
  color: #ccc;
}

textarea.form-control {
  height: auto;
}

.label-field {
  color: #777;
  font-size: 20px;
  font-family: Lato-Light;
  padding-top: 30px;
}

.author {
  color: #ccc;
  font-size: 16px;
  font-family: Lato-thin;
  text-indent: -8px;
}

// LISTING ARTICLES
.question-title {
  
  font-family: Lato-Bold;
  color: #555;
  padding-top: 25px;
}

a.title {
  font-size: 30px;
  line-height: 130%;
  text-decoration: none;

}




